@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,700&display=swap&subset=latin-ext');
@import './reset';
@import 'settings/fonts';
@import 'settings/colors';


* {
    box-sizing: border-box;
}

body {
    font-family: $font-base;
    color: map-get($colors, dark-grey);
}
.section-header {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//top section
.top-section {
    height: 963px;
    margin-right: 142px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
  }
 .hero-main {
    background: url('../assets/Home-Hero-Image.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    grid-area: left;
}
.page-header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 142px;
    z-index: 99;
}
.page-menu {
    display: flex;
    flex-direction: column;
    a {
        padding: 9px 20px;
        border: 0.75px solid transparent;
        cursor: pointer;
    }
}
.user-header {
    display: flex;
    justify-content: flex-end;
    margin: 37px 0 17px 0;
    a {
        color: map-get($colors, light-grey);
        font-size: 14px;
        &:hover, &:active {
            border: 0.75px solid map-get($colors, yellow);
        }
    }
}
.user-header.logged {
    display: flex;
    justify-content: flex-end;
    margin: 37px 0 17px 0;
    li {
        margin-left: 10px;
        margin-right: 10px;
    }
    a {
        color: black;
        font-size: 13px;
        font-weight: normal;
        padding: 9px 7px;
        border: 0.75px solid map-get($colors, yellow);
    }
    .hello-user {
        color: rgb(15, 14, 14);
        font-size: 14px;
        font-weight: normal;
        padding: 9px 7px;
    }
    .logout {
        color: map-get($colors, light-grey);
        font-size: 12px;
        font-family: $font-base;
        padding: 7px 7px;
        border: 0.75px solid transparent;
        &:hover, &:active {
            border: 0.75px solid map-get($colors, yellow);
        }
    }
}
.page-nav {
    display: flex;
    justify-content: flex-end;
    a {
        font-size: 18px;
        &:hover, &:active {
            border: 0.75px solid map-get($colors, dark-grey);
        }
    }
}
.section-header {
    text-align: center;
    font-weight: normal;
    font-size: 38px;
    line-height: 50px;
    letter-spacing: -0.76px;
}
.introduction {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.decoration {
    width: 253px;
    height: 33px;
    margin-top: 25px;
    background: url('../assets/Decoration.svg');
    background-size: cover;
}
.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tiles {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 65px;
}
.btn-primary {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-family: inherit;
    font-weight: 300;
    width: 310px;
    border: 0.75px solid map-get($colors, dark-grey);
    padding: 13px 0;
}
.tile-1 {
    margin-right: 22px;
}
.tile-2 {
    margin-left: 22px;
}

//yellow section
.yellow-section {
    padding: 46px 163px 86px 163px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('../assets/3-Columns-Background.png');
    background-size: cover;
}
.yellow-section .row {
    width: 334px;
    color: map-get($colors, olive);
    text-align: center;
    h2 {
        font-size: 90px;
        font-weight: 300;
        margin-bottom: 10px;
        padding: 10px;
    }
    h3 {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 28px;
    }
    p {
        font-size: 16px;
        font-family: $font-alt;
        font-weight: 300;
        letter-spacing: -0.32px;
        line-height: 34px;
    }
}

//user four-steps
.four-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0 80px 0;
    .user-four-steps {
        width: 100%;
        margin-top: 34px;
        background-color: map-get($colors, white);
        display: flex;
        justify-content: space-around;
        padding: 76px 414px;
        margin-bottom: 35px;
        .row {
            width: 150px;
            text-align: center;
        }
        h5 {
            font-size: 18px;
            color: map-get($colors, dark-grey);
            margin-top: 8px;
            line-height: 24px;
        }
        p {
            font-family: $font-base;
            color: map-get($colors, dark-grey);
            font-weight: 400;
            font-size: 16px;
        }
        hr {
            width: 70px;
            margin: 8.5px auto;
        }
        
    }
}
.about {
    height: 935px;
    width: 100%;
    .about-us {
        grid-area: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: map-get($colors, white);
        padding: 0 150px;
        .description p {
            font-size: 30px;
            line-height: 54px;
            letter-spacing: -0.6px;
            padding: 55px 0 40px 0;
            text-align: center;
            width: 657px;
        }
        .signature {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
    .people {
        grid-area: right;
        background: url('../assets/People.jpg');
        background-size: cover;
    }
}

//we-help
.we-help-section {
    padding: 70px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .decoration {
        margin-bottom: 51px;
    }
    .entity-single-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .entity-single-description {
        width: 640px;
        text-align: center;
        font-size: 22px;
        line-height: 30px;
        padding-bottom: 35px;
    }
    .entity-single-details {
        padding: 31px 22px 31px 0;
        width: 1344px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid lighten(map-get($colors, light-grey),30%);
        &:last-of-type {
            border-bottom: none;
        }
        h4 {
            font-size: 26px;
            line-height: 31px;
            font-family: $font-alt;
            font-weight: 300;
        }
        h5 {
            font-size: 18px;
        }
        h6 {
            font-size: 18px;
            line-height: 22px;
            font-family: $font-alt;
            font-weight: 300;
            font-style: italic;
            padding-top: 6px;
        }
    }
}

//tabs
.react-tabs {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    &__tab-list {
        width: 750px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 69px;
    }
  
    &__tab {
        height: 79px;
        width: 208px;
        font-size: 24px;
        list-style: none;
        text-align: center;
        border: 0.75px solid transparent;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
  
      &--selected {
        border-color: map-get($colors, dark-grey)
      }
  
      &--disabled {
        cursor: default;
      }
  
      &:focus {
        outline: none;
      }
    }
  
    &__tab-panel {
      display: none;
  
      &--selected {
        display: block;
      }
    }
  }

//pagination
.pagination {
    display: flex;
    justify-content: center;
    .btn-page {
        font-size: 18px;
        font-family: inherit;
        padding: 13px 15px;
        border: 1px solid transparent;
        margin: 42px 20px 0 20px;
        &:hover, &:focus {
            border: 1px solid lighten(map-get($colors, light-grey),30%);
        }
    }
}

//login
.login-section, .register-section, .logout-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 246px;
}
.btn-alt {
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: inherit;
    font-weight: 300;
    border: 0.75px solid transparent;
    padding: 13px 12px;
    margin: 0 200px;
    &:hover {
        border: 0.75px solid map-get($colors, dark-grey);
    }
}
.active {
    border: 0.75px solid map-get($colors, dark-grey);
}
.error {
    border-bottom: 1px solid map-get($colors, error)!important;
}
.error-message {
    font-size: 12px;
    padding-top: 6px;
    color: map-get($colors, error);
    font-weight: bold;
}
.form-area, .footer-contact-form-area {
    width: 385px;
    background-color: map-get($colors, white);
    padding: 40px 67px;
    margin: 60px auto 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form-row {
        width: 250px;
        display: flex;
        flex-direction: column;
    }
    label {
        font-size: 16px;
        font-weight: 600;
    }
    input {
        background: none;
        border-bottom: 1px solid map-get($colors, light-grey);
        font-family: inherit;
        padding-top: 30px;
    }
    .form-pass {
        margin-top: 31px;
    }
}
.register-section .form-pass {
    margin-bottom: 31px;
}
.logout-section {
    .btn-alt {
        margin-top: 42px;
        padding: 13px 18px;
    }
}
//footer-contact
.footer-contact {
    height: 1026px;
    width: 100%;
    position: relative;
    overflow: hidden;
    .footer-contact-background {        
        img {
            opacity: 0.2;
        }
    }
    .footer-contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 200px 142px 0 0;
        position: absolute;
        top: 0;
        right: 0;
        // .decoration {
        //     margin-bottom
        // }
        .footer-contact-form-area {
            margin-top: 30px;
        }
        .section-header {
            margin-bottom: 36px;
        }
    } 
}
.success-message {
    font-size: 16px;
    color: map-get($colors, success);
    font-weight: bold;
    text-align: center;
    display: block;
    line-height: 22px;
}
.footer-copyright-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    color: map-get($colors, dark-grey);
    .footer-copyright-info {
        align-self: center;
        margin: auto
    }
    .social-media {
            padding-right: 142px;
        img {
            height: 30px;
            width: 30px;
            margin: 0 10px;
        }
    }
}
.footer-contact-form {
    .footer-contact-form-area {
        padding: 0;
        width: 528px;
        background-color: transparent;
        padding-bottom: 0;
        input {
            font-size: 18px;
            border-bottom: 2px solid lighten(map-get($colors, light-grey),30%);
            padding-top: 12px;
            width: 256px;
            &::placeholder {
                opacity: 0.26;
            }
        }
        .rows {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .form-pass {
                margin-top: 0;
            }
        }
        .message {
            width: 538px;
            margin-top: 40px;
            textarea {
                width: 528px;
                resize: none;
                background: transparent;
                color: map-get($colors, dark-grey);
                border-bottom: 2px solid lighten(map-get($colors, light-grey),30%);
                font-family: inherit;
                margin-top: 12px;
                font-size: 18px;
                &::placeholder {
                    opacity: 0.26;
                }
            }
        }
    }
    .form-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .btn-alt {
            width: 150px;
            height: 50px;
            margin: 0;
            padding: 0;
        }
    }
}
.logged-in {
    font-weight: bold;
    font-size: 50px;
}
